*{
	padding: 0;
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	box-sizing: border-box;
}
body{
	background-color:#f6f6f7;
	max-width: 1200px;
	margin: auto;
}
header {
	padding: 20px;
	font-size: 2rem;
	background-color: rgb(29, 27, 27);
	margin: 10px 0 50px;
	border-radius: 15px;
	color: #fff;
}
input{
	width: 300px;
	padding: 5px;
	color:  rgb(29, 27, 27);
	background-color:#f6f6f7;
	border:  rgb(29, 27, 27) 2px solid;
	font-size: 1.2rem;
	border-radius: 8px;
	margin: 40px 0;
}
button{
	background-color:  rgb(29, 27, 27);
	color:#fff;
	height: 35px;
	width:100px;
	padding: 5px 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1.1rem;
	margin-right: 10px;

}
#products{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-item{

	width: 320px;
	margin: 30px 0;
	background-color: #fff;
	border-radius: 20px;
	padding: 15px;
	box-shadow: rgb(149 157 165 0.2)0px 8px 24px;
}
.product-item img{  
	width:290px;
	border-radius: 15px;
	margin-bottom: 20px;

}
.product-item p{
	margin: 10px 0 15px;
	color: gray;
}
.product-item span{
	display: inline-block;
	padding:5px 10px ;
	color:#fff ;
	background-color:  rgb(29, 27, 27);
	border-radius: 5px;

}
.selected{
	background-color: #7f7f8a;
	border: 2px soli rgb(29, 27, 27) ;
	color: rgb(29, 27, 27);
}


@media screen and (max-width:950px){
	#products{
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 395px) and (max-width: 456px) {
	.filter-buttons {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  justify-content: space-between;
	  gap: 5px;
	  margin-top: 10px;
	  

	}
	#search-price {
		display: flex; 
		flex-direction: row; 
		align-items: center;
		justify-content: center; 
		gap: 10px; 
	  }
	
	  #search-price input {
		width: 70%; 
		margin: 0; 
	  }
	
	  #search-price button {
		width: 30%; 
		margin: 0; 
	  }

  }
  
  